@import '~bootstrap/scss/bootstrap';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    width: 100vw;
    height: 100vh;

    background: purple;
    

    .app, .container {
    
    width: 100%;
    height: 100%;
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}
