* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/skulls.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  color: red;
}
