* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-control.right > .glyphicon-chevron-right,
.carousel-control.left > .glyphicon-chevron-left {
  color: black;
}

a.left.carousel-control {
  margin-left: -100px;
}

a.right.carousel-control {
  margin-right: -100px;
}

ol.carousel-indicators {
  margin-bottom: -70px;
}

.carousel-indicators li {
  background-color: white;
  border: 1px solid blue;
}

/* non funge */
.carousel-caption h6 {
  margin-bottom: -100px;
  z-index: 1000;
  overflow: visible;
}

/* .carousel-indicators .active {
    background-color: blue; */

/* ---------- header section -------- */

.mynav {
  padding-top: 20px;
}

.hero {
  color: white;
  background-image: url("../img/jumbo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 70px;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  padding-top: 100px;
}

.hero h4 {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}

.logo {
  width: 50%;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav .navbar-nav{
  padding-right: 10px;
}

.mynav .btn {
  margin-top: 5px;
  color: blue;
  border: 1px solid blue;
}

ul .nav .navbar-nav {
  margin-right: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: black;
    background-color: white;
}

.heroform {
  margin-top: 125px;
  padding: 40px 20px;
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
}

.formtitle {
  text-align: center;
  font-size: 30px;
  color: #031b4e;
  font-weight: bold;
}

.formsubtitle {
  color: #0069ff;
  margin-bottom: 20px;
}

.heroform form > button {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.heroform form > p {
  text-align: center;
  padding-top: 10px;
}

.heroform form > p > a {
  text-decoration: underline;
}

/* --------- partners section ---------- */

.partners {
  padding: 50px 0;
}

.partners div {
  text-align: center;
}

.partnerlogo {
  height: 80px;
  vertical-align: middle;
}

.partnerlogo img {
  height: 100%;
  width: 100%;
}

.partners h4 {
  color: #5b6987;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 30px;
}

.partners p {
  color: #0069ff;
  font-weight: bold;
  padding-top: 30px;
}

/* -------deploy section-------- */

.deploy h2,
.deploy h4:first-child {
  text-align: center;
}

.deploy h2 {
  font-size: 35px;
  font-weight: bold;
  color: #031b4e;
  padding-top: 50px;
}

.deploy h4 {
  font-size: 23px;
  font-weight: 600;
  line-height: 30px;
  color: #031b4e;
}

.deploy h4:first-child {
  padding-bottom: 60px;
  font-weight: 400;
  color: #5b6987;
}

.deploylist {
  margin-left: 100px;
}

.deploylist > ul {
  list-style: none;
  border-left: 2px solid rgba(191, 191, 191, 0.7);
  color: #5b6987;
  font-size: 20px;
  padding-left: 10px;
}

.deploylist li {
 margin-bottom: 20px;
}

.deploysection,
.deploysection2 {
  padding-right: 100px;
}

.deploysection > p {
  padding-bottom: 30px;
  color: #5b6987;
  font-weight: 500;
}

.deploysection2 > p {
  padding-bottom: 43px;
  color: #5b6987;
}

/* ---------Designed section------- */

.designed,
.features h2 {
  text-align: center;
}

.designed h2,
.features h2 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  color: #031b4e;
}

.designed h4 {
  padding-bottom: 60px;
  font-size: 23px;
  font-weight: 400;
  color: #5b6987;
}

.item h6 {
  color: #0069ff;
  font-size: 20px;
}

/* -------- features section -------- */

.features {
  padding-bottom: 70px;
}

.features h2 {
  padding-top: 110px;
  padding-bottom: 30px;
}

.features h4 {
  font-size: 23px;
  font-weight: 600;
  color: #031b4e;
}

.features p {
  color: #5b6987;
  padding-right: 50px;
}

.features img {
  padding-bottom: 15px;
  width: 70px;
}

.features a {
  color: #0069ff;
  font-weight: 400;
  padding-bottom: 70px;
}

/* -------service section------ */

.service {
  background-image: linear-gradient(#3d08db, darkblue);
  padding: 50px 0;
  color: white;
}

.service h2 {
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 35px;
}

.table tr:first-of-type {
  border-top: none;
}

.table tr td:nth-child(2) {
  color: #8de3f4;
}

.table tr td a {
  color: #00bfff;
  font-weight: 600;
  text-align: right;
}

.table tr td:last-child {
  text-align: right;
}

.tableleft,
.tableright {
  padding-right: 15px;
  padding-left: 15px;
}

/* .tableright {
  padding-left: 15px;
} */

/* ------development section------- */

.development {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 70px;
}

.development h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  color: #031b4e;
}

/* ------ get started section------- */

.getstarted {
  text-align: center;
  background-image: linear-gradient(#3d08db, darkblue);
  padding: 50px 0;
  color: white;
}

.getstarted h2 {
  padding-bottom: 20px;
  font-weight: bold;
}

.getbutton {
  background-color: white;
  border-radius: 10px;
  color: #0069ff;
  padding: 10px 30px;
  font-weight: bold;
}

/* -----footer section------ */

.footer {
  background-color: #031b4e;
  color: white;
  padding: 50px 0;
}

.footer ul {
  list-style: none;
}

.footer h4 {
  font-weight: bold;
}

.footer li {
  line-height: 30px;
}

.footer li a {
  color: #8FBBCF;
}

.footer img,
.footer p,
.footer .icons {
  color: #8FBBCF
}

.footer p:last-of-type {
  color: gray;
}

.footer img {
  padding-bottom: 10px;
}

.icons {
  font-size: 25px;
}

.icons span {
  padding: 0 5px;
}

.icons span i {
  color: lightgray;
}
